<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito</title>
  <link rel="stylesheet" href="../public/css/tienda.css">
</head>
<body>
  <header>
    <h1> Carrito de compras</h1>
    <a href="index_produc.html"> Volver a la tienda</a>
  </header>

  <main>
    <div id="listaCarrito"></div>
    <div id="resumenCarrito">
      <h2 id="total"></h2>
      <button id="vaciarCarrito">Vaciar carrito</button>
    </div>
  </main>

  <script src="../public/js/carrito.js" defer></script>
</body>
</html>
