<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <link rel="stylesheet" href="../public/css/cliente.css">
</head>

<body>
    <main>
        <header>
            <!-- <p>Titulo</p> -->
            <div id="ingreso">
                <h1>Bienvenido</h1>
                <label for="inputNombre">Ingrese su nombre:</label>
                <input type="text" id="inputNombre">
                <!-- <input type="text" id="inputPass" placeholder="Ingrese su contraseña: "> -->
                <!-- <br> -->
                <button id="btnIngresar" name="btnIngresar">Ingresar</button>
                <a href="index_admin.html">Ingresar como administrador</a>
            </div>
        </header>
        <footer></footer>

    </main>
        <script src="./server.js" >

            // function ingresoNombre() {
            //     let input = document.getElementById("inputNombre");
            //     let flag = true;
                
            //     if (input.value.length === 0) {
            //         flag = false;
            //     }

            //     return flag;
            // }

            // document.getElementById("btnIngresar").addEventListener( "click", () => {
            //     if (ingresoNombre()) {
            //         window.location.href = "index_produc.html";
            //     }
            //     else{
            //         alert("Ingrese su nombre");
            //     }
                
            // })

        </script>
    <script src="./db.js"></script>
    <script src="./Producto.js"></script>
</body>
</html>