<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <link rel="stylesheet" href="../public/css/admin.css">
</head>

<body>
    <main>
        <header>
            <!-- <p>Titulo</p> -->
            <div id="ingreso">
                <h1>Bienvenido</h1>
                <label for="inputNombre">Ingrese su correo:</label>
                <input type="text" id="inputNombre">
                <label for="inputNombre">Ingrese su contraseña:</label>
                <input type="password" id="inputPass">
                <!-- <br> -->
                <button id="btnIngresar">Ingresar</button>
                <a href="index_cliente.html">Cancelar</a>
            </div>
        </header>
        <footer></footer>
    </main>
    <script src="/js/loginAdmin.js" defer></script>
</body>
</html>
</body>
</html>