:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}

.dark-theme {
    --bg-color: #181818;
    --text-color: #ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

#themeToggle, #SalirProducto {
    

    position: fixed;
    bottom: 20px;   
    cursor: pointer;
    
    
}

#themeToggle {
    right: 20px;
    padding: 10px 15px;
    border-radius: 8px;
    background: var(--text-color);
    color: var(--bg-color);
    border: none;
    transition: 0.3s;
    z-index: 9999; 
    
}

#SalirProducto { 
    left: 20px;
    padding: 10px 15px;
    border-radius: 8px;
    background: var(--text-color);
    color: var(--bg-color);
    border: none;
    transition: 0.3s;
    z-index: 1001;
}

#themeToggle:hover {
    opacity: 0.8;
}