body{
    background-color: rgb(245, 241, 234);
    grid-template-columns: 200px auto;
    grid-template-rows: 50px auto;
}

header{
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* grid-column: 1/3; */
    outline: solid #000 1px;
    padding: 0 20px;
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 100%; */
    /* align-items: cente; */
    /* align-content: ; */
    /* display: flex;
    align-items: center;
    align-content: flex-end; */
}

#btnCarrito button{
    cursor: pointer;
    border-radius: 40%;
    /* background-image: url("carrito.png"); */
}
