body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between ;
  align-items: center;
  padding: 15px 30px;
  background-color: #000000;
  color: white;
}

#btnCarrito {
  background-color: white; 
  border: none;                   
  cursor: pointer;
  padding: 0;
  border-radius: 5px;                     
}

#btnCarrito img {
  transition: transform 0.2s ease-in-out;
}

#btnCarrito:hover img {
  transform: scale(1.1);          
}

#catalogo {
  display: flex;
  align-items: center;
  text-align: center;
  align-self: center;
  flex-direction: column; 
  gap: 10px;
  padding: 20px;
}

#divRemeras, #divPantalones {
  width: 100%;
}

.titulos {
  text-align: center;
  margin-bottom: 15px;

}

#remeras, #pantalones, #listaCarrito {
  display: flex;
  flex-wrap: wrap;           
  justify-content: center; 
  gap: 20px;                 
  padding: 20px;
}


.producto {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  width: 180px;
  text-align: center;
  background-color: #fafafa;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  color: black !important; 
}

.producto:hover {
  transform: scale(1.05);
}


#listaCarrito {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

#resumenCarrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

#total {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.paginacion {
  display: flex;
  justify-content: center;   
  gap: 15px;                 
  margin: 30px auto;
} 

#vaciarCarrito , #finCompra , #btnSiguiente , #btnAnterior , #Salir {
  margin-top: 10px;
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
}


#vaciarCarrito:hover #finCompra:hover, #btnSiguiente:hover , #btnAnterior:hover , #Salir:hover {
  background-color: #005f73;
} 


#listaCarrito img {
  width: 170px;         
  height: 170px;        
  object-fit: contain;  
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}


.cantidad-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.cantidad-control button {
  color: white;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.cantidad-control .btnRestar {
  background-color: #e63946;
}

.cantidad-control .btnRestar:hover {
  background-color: #b91c1c;
}


.cantidad-control .btnSumar {
  background-color: #2a9d8f;
}

.cantidad-control .btnSumar:hover {
  background-color: #21867a;
}

.cantidad-control span {
  font-weight: bold;
  font-size: 1.1rem;
  width: 25px;
  text-align: center;
}

.botones-producto {
  display: flex !important;
  flex-direction: column !important;
  gap: 8px;
  margin-top: 10px;
  width: 100% !important;
}

.btnAgregar {
  background-color: #2a9d8f; 
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btnAgregar:hover {
  background-color: #21867a;
}

.btnQuitar {
  background-color: #e63946; 
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btnQuitar:hover {
  background-color: #b91c1c;
}



.btnAlta {
  background-color: #2a9d8f; 
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;

  width: 100% !important;
 
}

.btnAlta:hover {
  background-color: #21867a;
} 

.btnBaja {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 100% !important;
}

.btnBaja:hover {
  background-color: #b91c1c;
}

.btnModificar {
  background-color: #4a37fa;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;;
  cursor: pointer;
  width: 100% !important;
}

.btnModificar:hover {
  background-color: #4a37fa;
  
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1000;
  left: 0; 
  top: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}


.modal-content {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 360px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}


.modal-botones {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  
}

.btnCancelar {
  background: #f54d4d;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.btnConfirmar {
  background-color: #2a9d8f;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.btnConfirmar:hover { background: #2a9d8f; }
.btnCancelar:hover { background: #f54d4d; }


#headerAdmin {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  align-items: center;
}

#headerAdmin > div:nth-child(2) {
  justify-self: center;

  text-align: center;
}


.agregar-container {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
}

.btnAgregarProducto {
  background-color: #007BFF;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: 0.2s;
}

.btnAgregarProducto:hover {
  background-color: #0056b3;
}

.formAgregarProducto {
  width: 40%;
  margin: 40px auto;
  background: white !important; 
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2) !important;
     
}

.vistaModificar {
  color: #000000 !important;
}


.alert {
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.success {
  background-color: #d4edda;
  color: #155724;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
}

form label {
  font-weight: bold;
  margin-top: 15px;
  display: block;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

.botones-form {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.producto img {
  width: 150px;          
  height: 150px;        
  object-fit: cover;     
  border-radius: 8px;    
  display: block;
  margin: 0 auto 10px auto;
}
